<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/theme/{{ blog.theme }}.css">
    <style>
        .comment{
            margin-left: 30px;
        }
    </style>
</head>
<body>
    <div class="info">
        <div>{{ blog.user.nickname }}</div>
        <div>{{ blog.title }}</div>
    </div>
    <div class="category">
        <h3>分类</h3>
        <ul>
            {% for category in category_list %}
                <li>
                    <a href="/{{ blog.site }}/category/{{ category.category_id }}/">{{ category.category__title }}({{ category.ct }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tag">
        <h3>标签</h3>
        <ul>
            {% for tag in tag_list %}
                <li>
                    <a href="/{{ blog.site }}/tag/{{ tag.tag_id }}/">{{ tag.tag__title }}({{ tag.ct }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>时间</h3>
        <ul>
            {% for date in date_list %}
                <li>
                    <a href="/{{ blog.site }}/date/{{ date.ctime }}/">{{ date.ctime }}({{ date.ct }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3><a href="">{{ obj.title }}</a></h3>
        {{ obj.articledetail.content|safe }}
    </div>
    <!-- 1 表示赞  0 表示踩 -->
    <a onclick="updown(this,{{ obj.nid }},1);">
        <span>赞</span>
        <i class="up">{{ obj.up_count }}</i>
    </a>
    <a onclick="updown(this,{{ obj.nid }},0)">
        <span>踩</span>
        <i class="down">{{ obj.down_count }}</i>
    </a>
    <h3>评论</h3>
    {{ comment_str|safe }}
    <script src="/static/plugin/jquery-1.12.4.js"></script>
    <script>
        $(function () {

        });

        function updown(ths,nid,val) {
            $.ajax({
                url:'/up.html',
                data:{'val':val,'nid':nid,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                type:'POST',
                dataType:'JSON',
                success:function (arg) {
                    if(arg.status == 1){
                        //赞
                        // 刷新页面，效果不好location.href = "/{{ blog.site }}/{{ obj.nid }}.html"
                        $('.up').text({{ obj.up_count }} + 1);
                    }else if(arg.status == 2){
                        //踩
                        $('.down').text({{ obj.down_count }} + 1)
                    }else{
                        //显示错误信息
                        console.log(arg.msg)
                    }
                }
            })
        }
    </script>
</body>
</html>