<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>编辑学生</h1>
    <form method="POST" action="/edit_students/?nid={{ student_info.id }}">
        <p>学生名字: <input type="text" name="name" value="{{ student_info.name }}"></p>
        <div>
            所属班级:
            <select name="class_id">
                {% for row in class_list %}
                    <!-- 如果是当前学生所在班级，则默认选中 -->
                    {% if row.id == student_info.class_id %}
                        <option selected value="{{ row.id }}">{{ row.title }}</option>
                    {% else %}
                        <option value="{{ row.id }}">{{ row.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="提交">
    </form>
</body>
</html>