<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>添加学生</h1>
    <form method="POST" action="/add_students/">
        <p>学生名字: <input type="text" name="name"></p>
        <div>
            所属班级:
            <select name="class_id">
                {% for foo in class_list %}
                <option value="{{ foo.id }}">{{ foo.title }}</option>
            {% endfor %}
            </select>
        </div>
        <input type="submit" value="提交">
    </form>
</body>
</html>