<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <style>
        .hide{
            display: none;
        }
        .shadow{
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }
        .modal{
            z-index: 1000;
            position: fixed;
            left: 50%;
            top: 50%;
            height: 300px;
            width: 400px;
            background-color: white;
            margin-left: -200px;
            margin-top: -150px;
        }
    </style>
</head>
<body>
    <h1>班级列表</h1>
    <div>
        <a href="/add_class/">添加</a>
        <a onclick="showModal();">对话框添加</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>班级名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in class_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.title }}</td>
                    <td>
                        <a href="/edit_class/?nid={{ row.id }}">编辑</a>
                        <a href="/edit_class_ajax/?nid={{ row.id }}">ajax编辑</a>
                        <a  class="edit-ajax">对话框编辑</a>
                        |
                        <a href="/del_class/?nid={{ row.id }}">删除</a>
                        <a onclick="AjaxDelete({{ row.id }})">删除</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="shadow" class="shadow hide"></div>
    <div id="modal" class="modal hide">
        <p>
            <input id="title" type="text" name="title" /><span id="errormsg"></span>
        </p>
        <input type="button" value="提交" onclick="AjaxSend();"  />
        <input type="button" value="取消" onclick="cancleModal();"  />
    </div>
    <div id="edit-module" class="modal hide">
        <h3>编辑框</h3>
        <p>
            <input id="modal-id" type="text" value="3333" style="display: none">
            班级名称: <input id="modal-title" type="text" name="title">
        </p>
        <input type="button" onclick="editAjaxSend();" value="提交"> <span id="errormsg2"></span>
        <input type="button" value="取消" onclick="cancleModal();">
    </div>




    <script src="/static/jquery-1.12.4.js"></script>
    <script>
        function showModal() {
            document.getElementById("shadow").classList.remove('hide');
            document.getElementById("modal").classList.remove('hide');
        }

        function cancleModal() {
            document.getElementById("shadow").classList.add('hide');
            document.getElementById("modal").classList.add('hide');
            document.getElementById("edit-module").classList.add('hide');

        }
        function AjaxSend() {
            $.ajax({
                url: '/modal_add_class/',
                type: 'POST',
                data: {'title': $('#title').val()},
                success: function (data) {
                    // 当服务端处理完成后，返回数据时，该函数自动调用
                    // data=服务端返回的值
                    console.log(data);
                    if (data == "OK"){
                        location.href="/classes/";
                    }else {
                        $('#errormsg').text(data);
                    }
                }
            })
        }

        function AjaxDelete(id) {
            $.ajax({
                url:'/del_class_ajax/',
                type:'POST',
                data: {'nid':id},
                success: function (data) {
                    console.log(data);
                    if (data == "OK"){
                        location.href = '/classes/';
                    }
                }
            })
        }

        $(".edit-ajax").click(function () {
            tds = $(this).parent().prevAll();
            nid = $(tds[1]).text();
            title = $(tds[0]).text();
            $("#modal-id").val(nid);
            $("#modal-title").val(title);
            $("#shadow,#edit-module").removeClass('hide');
        })
        
        function editAjaxSend() {
            var nid = $("#modal-id").val()
            var title = $("#modal-title").val()
            $.ajax({
                url:'/modal_edit_class/',
                type:'POST',
                data: {'nid':nid, 'title':title},
                success:function (arg) {
                    arg = JSON.parse(arg);
                    if (arg.status){
                        location.reload();
                    }else {
                        alert(arg.message)
                    }
                }
            })
        }
        
    </script>
</body>
</html>