<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>老师列表</h1>
    <div>
        <a href="/add_teacher/">添加</a>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>老师名字</th>
                <th>授课班级</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in teacher_list %}
                <tr>
                    <td>{{ row.tid }}</td>
                    <td>{{ row.name }}</td>
                    <td>
                        {% for foo in row.titles %}
                             <span style="display: inline-block;padding: 2px;border: 1px solid red;">{{ foo }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a>编辑</a>
                        |
                        <a>删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>