<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="">
    <p>用户注册</p>
    <p>用户名</p>
    <p>
        <input type="text" placeholder="请输入用户名" name="username">
    </p>
    <p>邮箱</p>
    <p>
        <input type="text" placeholder="请输入邮箱" name="email">
    </p>
    <p>密码</p>
    <p>
        <input type="password" placeholder="请输入密码" name="password">
    </p>
    <p>确认密码</p>
    <p>
        <input type="password" placeholder="请重新输入密码" name="rwpassword">
    </p>
    <p>
        <input type="submit" value="下一步">
    </p>
</form>
</body>
</html>