<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/add_teacher/">添加</a>
    <table>
        <thead>
            <th>ID</th>
            <th>名字</th>
            <th>操作</th>
        </thead>
        <tbody>
            {% for row in teacher_list %}
                <tr>
                    <td>
                        {{ row.id }}
                    </td>
                    <td>
                        {{ row.name }}
                    </td>
                    <td>
                        <a href="/edit_teacher/?nid={{ row.id }}">编辑</a>
                        |
                        <a href="/del_teacher/?nid={{ row.id}}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>